<app-header></app-header>
<div class="container-fluid">
    <div class="row map-view">
      <div class="col-sm-4 card-section row">
        <div *ngIf="loading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 mapcard" *ngFor="let data of datas">
          <mdb-card>
            <!--Card image-->
            <mdb-card-img src="https://bt-photos.global.ssl.fastly.net/sarmls/320_boomver_2_202020069-1.jpg" alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h7>{{data.area}} | {{data.city}}</h7>
                <h4><strong>${{data.listprice | number}}</strong></h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                <div class="property-info">
                  <span *ngIf="data.beds > 0"><strong>{{data.beds}}</strong> bd</span>
                  <span *ngIf="data.baths > 0"><strong>{{data.baths}}</strong> ba</span>
                  <span *ngIf="data.sqft > 0"><strong>{{data.sqft}}</strong> sqft</span>
                </div>
              </mdb-card-text>

<!--              <a href="#" mdbBtn color="primary" mdbWavesEffect>View Detail</a>-->
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="col-sm-8 map-section">
        <div #map id="agm-map"></div>
      </div>
    </div>
</div>

