mdb-card-title {
  h4 {
    color: #3f8c56;
  }
}

mdb-card-img {
  text-align: center;
  padding-top: 10px;
}

.property-info {
  span {
    padding-right: 10px;
    strong {
      color: #332f2f;
    }
  }
}
